<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box-hori">
                <h4 class="page-title">Courbe statistque </h4>
                <div class="page-title-right">

                </div>
            </div>
        </div>
    </div>     
    <!-- end page title -->
    
    <div class="row">
        <div class="col-lg-9">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Advanced Smil Animations</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                    </p>

                    <div id="smil-animations" class="ct-chart ct-golden-section"></div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-3">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Description de la courbe</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                        Example of Horizontal bar chart.
                        Example of Horizontal bar chart.
                    </p>
                </div>
            </div> <!-- end card  -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


    <div class="row">
        <div class="col-lg-3">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Line Scatter Diagram</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                        Example of Horizontal bar chart.
                        Example of Horizontal bar chart.
                    </p>                                        
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-9">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Line chart with tooltips</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                    </p>

                    <div id="line-chart-tooltips" class="ct-chart ct-golden-section"></div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


    <div class="row">
        <div class="col-lg-9">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Line chart with area</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                    </p>

                    <div id="chart-with-area" class="ct-chart ct-golden-section"></div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-3">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Bi-polar Line chart with area only</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                        Example of Horizontal bar chart.
                        Example of Horizontal bar chart.
                    </p>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


    <div class="row">
        <div class="col-lg-3">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">SVG Path animation</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                        xample of Horizontal bar chart.
                        xample of Horizontal bar chart.
                    </p>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-9">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Line Interpolation / Smoothing</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                    </p>

                    <div id="line-smoothing" class="ct-chart ct-golden-section"></div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->


    <!--<div class="row">
        <div class="col-lg-9">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">Different configuration for different series</h4>
                    <p class="sub-header">
                        Example of Horizontal bar chart.
                    </p>

                    <div id="different-series" class="ct-chart ct-golden-section"></div>
                </div>
            </div>  end card 
        </div>  end col

        <div class="col-lg-3">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">SVG Animations chart</h4>
                    <p class="sub-header">
                        Example of Label placement chart.
                        Example of Label placement chart.
                        Example of Label placement chart.
                    </p>
                </div>
            </div>  end card 
        </div>  end col 
    </div>
     end row -->



    <div class="row">
        <div class="col-lg-12">
            <div class="card" dir="ltr">
                <div class="card-body">
                    <h4 class="header-title">A propos des courbes</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum excepturi quidem ipsa, aperiam quae repudiandae deserunt impedit quibusdam, consequatur amet ab. Consequatur cumque totam magnam saepe. Harum, omnis libero?
                    </p>
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container-fluid -->


        <!--Chartist Chart-->
        <script src="/assets/assets/libs/chartist/chartist.min.js"></script>
        <script src="/assets/assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

        <!-- Init js -->
        <script src="/assets/assets/js/pages/chartist.init.js"></script>

        <!-- App js -->
        <script src="/assets/assets/js/app.min.js"></script>